.main {
  position: relative;
  @media (min-width: 600px) {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 600px) {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .wrapperCover {
    @media (max-width: 601px) {
      width: 75vw;
      height: 120vw;

    }
    @media (min-width: 601px) {
      position: sticky;
      top: 20px;
      left: 0;
    }
    @media (min-width: 768px) {
      width: 240px;
    }

    @media (max-width: 768px) and (min-width: 600px) {
      width: 150px;
    }

    .cover {
      border-radius: 8px;
      width: 100%;
      @media (max-width: 601px) {
        object-fit: cover;
        object-position: center bottom;
        height: 100%;
      }

    }
  }
}