//$import '.'

.main {
  @media (min-width: 601px) {
    width: 100%;
    
  }
  @media (max-width: 600px) {
    width: 100vw;
    margin-top: 16px;
    padding: 16px;

  }
  //display: flex;

  .mangaType {
    font-size: 16px;
    color: hsla(0, 0%, 100%, .64);
  }

  .mangaData {
    font-size: 15px;
  }

}